<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Artists Databese</title>
</head>
<div id="main">

<header>
  <h1>Artists Database</h1>
</header>

<form action="/post" method="post" class="form-inline">
    <select name="select_type">
        <option value="name">name</option>
        <option value="alias">alias</option>
        <option value="area">area</option>
        <option value="tag">tag</option>
    </select>
	<input type="text" name="query">
	<button type="submit" class="btn btn-default">search</button>
</form>

{% if query %}
<header>
    <h2>Results of "{{query}}"({{select_type}})</h2>
</header>
{{data_frame|safe}}
{% endif %}

</div>